.main-nav {
    text-align: right;
    font-size: 18px;
    a {
        display: block;
        text-transform: uppercase;
        padding: 0 24px;
        background-color: transparent;
        color: #fff;
        transition: all 0.2s ease-in-out;
        margin-left: 1px;
    }
    .home-link {
        display: none;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        margin-left: 1px;
    }
    li {
        a:hover,
        &.current_page_item a {
            background-color: #fff;
            color: $primaryColor;
        }
    }
}
