.header-nav {
    background-color: $primaryColor;
}

.main-nav {
    text-align: right;
    font-size: 18px;
    a {
        display: block;
        height: 50px;
        line-height: 50px;
        text-transform: uppercase;
        padding: 0 24px;
        background-color: transparent;
        color: #fff;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: #fff;
            color: $primaryColor;
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        margin-left: 1px;
    }
    li {
        // display: inline-block;
    }
}

.nav-toggle {
    display: none;
}
